<div class="flex">

  <!-- header -->
  <div>


  </div>
  <!-- headerEnds -->


  <!-- sidebar -->
  <div class="bg-[#eaf1fb] p-2 h-screen">
    <div class="text-[#444746] text-sm flex flex-col">
      <div class="flex justify-center">
        <span class="mt-4">
          <img src="assets/images/mainmenu.png" alt="" class="h-5 w-5 ml-1 mb-1">

        </span>
      </div>


      <div class="flex justify-center">
        <span class="mt-8">
          <img src="assets/images/gmailicon.png" alt="" class="h-5 w-5 ml-1 mb-1">
          Mail
        </span>
      </div>

      <div class="flex justify-center">
        <span class="mt-6">
          <img src="assets/images/chat.png" class="mb-1" alt="">
          Chat
        </span>
      </div>

      <div class="flex justify-center">
        <span class="mt-6">
          <img src="assets/images/spaces.png" alt="" class="h-5 w-5 ml-2 mb-1">
          Spaces
        </span>
      </div>

      <div class="flex justify-center">
        <span class="mt-6">
          <img src="assets/images/meet.png" alt="" class="h-5 w-5 ml-1 mb-1">
          Meet
        </span>
      </div>

    </div>

  </div>
  <!-- sidebarEnds -->





  <!-- optionsSidebarbig -->

  <div class="bg-[#f9ffff] px-6">

    <p class="flex justify-center gap-2 mt-4 ">
      <img src="assets/images/gamilLogo.png" class="h-8 w-8" alt="">
      <span class="text-[#444746] text-2xl ">Gmail</span>
    </p>

    <div class="border-none rounded-xl py-4 flex justify-center mt-6 bg-[#c2e7ff] w-40 gap-2">
      <img src="assets/images/compose.png" alt="">
      <p class="text-semibold text-[#444746]">Compose</p>
    </div>


    <div class="mt-6 text-[#202124] text-sm px-4 py-1">
      <div class="flex justify-between gap-3 border w-40 rounded-full ">
        <div class="flex gap-2 ">
          <img src="assets/images/inbox.png" alt="">
          <span>inbox</span>
        </div>
        <div class="text-[#202124]">2</div>
      </div>

      <div class="flex gap-3 mt-2">
        <img src="assets/images/star.png" alt="">
        <span>Starred</span>
      </div>

      <div class="flex gap-3 mt-2">
        <img src="assets/images/snoozed.png" alt="">
        <span>Snoozed</span>
      </div>

      <div class="flex gap-3 mt-2">
        <img src="assets/images/sent.png" alt="">
        <span>Sent</span>
      </div>

      <div class="flex gap-3 mt-2">
        <img src="assets/images/drafts.png" class="h-4 w-4" alt="">
        <span>Draft</span>
      </div>

      <div class="flex gap-3 mt-2">
        <img src="assets/images/more.png" class="h-4 w-4" alt="">
        <span>More</span>
      </div>

      <div class="mt-6 flex justify-between">
        <span class="text-semibold">Labels</span>
        <span><img src="assets/images/plus.png" class="h-3 w-3"></span>
      </div>

      <div class="mt-4 flex gap-3 text-[#202124]">
        <img src="assets/images/notes.png" class="w-5 h-5" alt="">
        Notes
      </div>


    </div>


  </div>
  <!-- optionsSidebarbigEnds -->


  <!-- mainContent -->
  <div class=" w-full">
    <!-- header -->
    <div class=" bg-[#f9ffff] text-[#444746] ">
      <div class="flex py-4 gap-4">

        <div class="border-none rounded-lg flex bg-[#eaf1fb] relative h-12 w-80">
          <img src="assets/images/search.png" class="w-5 h-5 mt-3 mx-4" alt="">
          <input type="text" class="bg-[#eaf1fb] outline-none" placeholder="Search in mail">
        </div>

        <div class="mt-2 ">
          <button class="flex justify-center border rounded-full h-8 gap-2  px-2">
            <img src="assets/images/greencircle.png" class="h-4 w-4 mt-1" alt="">
            <span class=""> Active</span>
            <img src="assets/images/more.png" class="h-4 w-4 mt-1" alt="">
          </button>
        </div>

        <div class="flex gap-4 mt-3">
          <img src="assets/images/question.png" class="h-4 w-4 mt-1" alt="">
          <img src="assets/images/settings.png" class="h-4 w-4 mt-1" alt="">
          <img src="assets/images/menu.png" class="h-4 w-4 mt-1" alt="">
          <img src="assets/images/profile.png" class="h-6 w-6 mt-1" alt="">
        </div>







      </div>
    </div>

    <div class="border-none shadow bg-white rounded-xl px-4 pt-2">

      <div class="flex justify-between">
        <div class="flex gap-4">
          <input type="checkbox" class="">
          <img src="assets/images/more.png" class="h-4 w-4 mt-1" alt="">
          <img src="assets/images/refresh.png" class="h-4 w-4 mt-1" alt="">
          <img src="assets/images/more2.png" class="h-4 w-4 mt-1" alt="">

        </div>
        <div class="">
          <span class="border-none rounded px-2 h-6 hover:bg-[#eee] text-xs text-gray-400">1-50 of 5,510</span>
        </div>
      </div>





      <div class="flex justify-between text-semibold px-3 mt-2">
        <div class=" flex border-none w-full h-10 text-[#0b57d0] hover:bg-[#eee] gap-3">
          <img src="assets/images/inbox.png" class="h-6 w-6 mt-1" alt="">
          <span class="mt-1">Pirmary</span>
        </div>

        <div class="flex border-none w-full hover:bg-[#eee] gap-3">
          <img src="assets/images/notes.png" class="h-6 w-6 mt-1" alt="">
          <span class="mt-1">Promotion</span>
        </div>
        <div class="flex border-none w-full hover:bg-[#eee] gap-3">
          <img src="assets/images/spaces.png" class="h-6 w-6 mt-1" alt="">
          <span class="mt-1">Social</span>
        </div>
      </div>


      <div class="flex mt-2 text-gray-800 ">
        <div class="flex border w-full px-2 py-1 hover:bg-[#eee]">
          <div class="flex gap-4 ">
            <input type="checkbox" class="">
            <img src="assets/images/star.png" class="h-4 w-4 mt-1 " alt="">

            <span class="">Qoura Digest</span>
          </div>
          <div class="ml-16">
            <p>
              has to put all its effort and strategies...
            </p>
          </div>
        </div>

      </div>
      <div class="flex  text-gray-800 ">
        <div class="flex border w-full px-2 py-1 hover:bg-[#eee]">
        <div class="flex gap-4 ">
          <input type="checkbox" class="">
          <img src="assets/images/star.png" class="h-4 w-4 mt-1 " alt="">

          <span class="">Instagram</span>
        </div>
        <div class="ml-24">
          <p>
            has to put all its effort and strategies...
          </p>
        </div>
      </div>

      </div>
      <div class="flex  text-gray-800 ">
        <div class="flex border w-full px-2 py-1 hover:bg-[#eee]">
        <div class="flex gap-4 ">
          <input type="checkbox" class="">
          <img src="assets/images/star.png" class="h-4 w-4 mt-1 " alt="">

          <span class="">Qoura Digest</span>
        </div>
        <div class="ml-16">
          <p>
            has to put all its effort and strategies...
          </p>
        </div>
      </div>

      </div>

      <div class="flex  text-gray-800 ">
        <div class="flex border w-full px-2 py-1 hover:bg-[#eee]">
        <div class="flex gap-4 ">
          <input type="checkbox" class="">
          <img src="assets/images/star.png" class="h-4 w-4 mt-1 " alt="">

          <span class="">Qoura Digest</span>
        </div>
        <div class="ml-16">
          <p>
            has to put all its effort and strategies...
          </p>
        </div>
      </div>

      </div>

    <div class="flex  text-gray-800 ">
        <div class="flex border w-full px-2 py-1 hover:bg-[#eee]">
        <div class="flex gap-4 ">
          <input type="checkbox" class="">
          <img src="assets/images/star.png" class="h-4 w-4 mt-1 " alt="">

          <span class="">Qoura Digest</span>
        </div>
        <div class="ml-16">
          <p>
            has to put all its effort and strategies...
          </p>
        </div>
      </div>

      </div>

      <div class="flex  text-gray-800 ">
        <div class="flex border w-full px-2 py-1 hover:bg-[#eee]">
        <div class="flex gap-4 ">
          <input type="checkbox" class="">
          <img src="assets/images/star.png" class="h-4 w-4 mt-1 " alt="">

          <span class="">Qoura Digest</span>
        </div>
        <div class="ml-16">
          <p>
            has to put all its effort and strategies...
          </p>
        </div>
      </div>

      </div>
        <div class="flex  text-gray-800 ">
          <div class="flex border w-full px-2 py-1 hover:bg-[#eee]">
          <div class="flex gap-4 ">
            <input type="checkbox" class="">
            <img src="assets/images/star.png" class="h-4 w-4 mt-1 " alt="">
  
            <span class="">Qoura Digest</span>
          </div>
          <div class="ml-16">
            <p>
              has to put all its effort and strategies...
            </p>
          </div>
        </div>
  
        </div>

        <div class="flex  text-gray-800 ">
          <div class="flex border w-full px-2 py-1 hover:bg-[#eee]">
          <div class="flex gap-4 ">
            <input type="checkbox" class="">
            <img src="assets/images/star.png" class="h-4 w-4 mt-1 " alt="">
  
            <span class="">Qoura Digest</span>
          </div>
          <div class="ml-16">
            <p>
              has to put all its effort and strategies...
            </p>
          </div>
        </div>
  
        </div>
        <div class="flex  text-gray-800 ">
          <div class="flex border w-full px-2 py-1 hover:bg-[#eee]">
          <div class="flex gap-4 ">
            <input type="checkbox" class="">
            <img src="assets/images/star.png" class="h-4 w-4 mt-1 " alt="">
  
            <span class="">Facebook</span>
          </div>
          <div class="ml-20">
            <p>
              has to put all its effort and strategies...
            </p>
          </div>
        </div>
  
        </div>
      <div class="flex  text-gray-800 ">
        <div class="flex border w-full px-2 py-1 hover:bg-[#eee]">
        <div class="flex gap-4 ">
          <input type="checkbox" class="">
          <img src="assets/images/star.png" class="h-4 w-4 mt-1 " alt="">

          <span class="">Instagram</span>
        </div>
        <div class="ml-24">
          <p>
            has to put all its effort and strategies...
          </p>
        </div>
      </div>

      </div>

      <div class="flex  text-gray-800 ">
        <div class="flex border w-full px-2 py-1 hover:bg-[#eee]">
        <div class="flex gap-4 ">
          <input type="checkbox" class="">
          <img src="assets/images/star.png" class="h-4 w-4 mt-1 " alt="">

          <span class="">Twitter</span>
        </div>
        <div class="ml-24">
          <p>
            has to put all its effort and strategies...
          </p>
        </div>
      </div>

      </div>

    </div>
    <!-- mainContentEnds -->


  </div>